@import "../../styles/colors";

.createAdCard {
  margin-right: 20px;
  margin-bottom: 20px;

  .createAdCard--LinkDiv {
    border: 2px dashed $blue;
    margin: 15px;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    .createAdCard--LinkDiv--Create {
      cursor: pointer;
      text-transform: capitalize;
      color: $blue;
      font-weight: 400;
      font-size: 15px;
    }
  }
}
