$blue: #69bbec;
$backgroundColor: #ececec;
$black: #424242;
$gray: #9394a0;
$lightGreen: #cdffcd;
$darkGreen: #068706;
$borderColor: #eae9f1;
$white: #ffffff;
$lightRed: #ff7f7f;
$red: #880808;
$lightGray: #d3d3d3;
